<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:if="${planete}" th:text="${planete.nom}">Saturne</title>
	<title th:unless="${planete}">Erreur</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:unless="${planete}">
		Pas de planète correspondant.
	</div>

	<div th:if="${planete}">
		<div>Id : </div>
		<div th:text="${planete.id}">6</div>
		<div>Nom : </div>
		<div th:text="${planete.nom}">Saturne</div>
	</div>
</body>

</html>