<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

  <head>
    <title>Ma page coucou !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <h1>Coucou les gens</h1>
    <div>
		<p th:text="${caMarche}">On test si ça marche</p>
		<p th:text="${leBidon.nom}">Test de retour objet</p>
	</div>
	<div>
		<ul >
			<li th:each="bidonTemp : ${lesBidons}" th:if="${bidonTemp.isAffichable}" th:text="${bidonTemp.nom}"></li>
		</ul>
	</div>
  </body>
</html>