<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" >
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:if="${planete}" th:text="${planete.name}">No planet name</title>
	<title th:unless="${planete}">Erreur</title>
</head>
<body>
<!--	Afficher un message si aucune planète n'est trouvé
	permet le debugage (merci la correction Fr.C :)  )-->
	<div th:unless="${planete}">
		Pas de planète correspondante !!
		<pre>
___________                           
\_   _____/_____________  ___________ 
 |    __)_\_  __ \_  __ \/  _ \_  __ \
 |        \|  | \/|  | \(  |_| )  | \/
/_______  /|__|   |__|   \____/|__|   
        \/                            
		</pre>
	</div>
	
	<div th:if="${planete}">
		<div>Id : </div>
		<div th:text="${planete.id}">6</div>
		<div>Nom : </div>
		<div th:text="${planete.name}">Saturne</div>
		<div>Diametre : </div>
		<div th:text="${planete.diametre}">Saturne</div>
	</div>
	
</body>
</html>