<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	
<html>
<head>
    <title>Planète</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
<body>
	<div >
		<h1>La planète</h1>
		<ul>
			<li>Nom: <span th:text="${details.name}"></span></li>
			<li>Diamètre: <span th:text="${details.diameter}"></span> km</li>
			<li>Densité: <span th:text="${details.density}"></span></li>
			<li>Composition, principal élement: <span th:text="${details.mainCompo}"></span></li>
		</ul>
	</div>
	
	
	<div th:text="${errorString}">Erreur</div>
	<form method="POST" action="../planete" >
		<div>
			<label for="name">Nom</label>
			<input id="name" type="text" name="name" th:value="${details.name}" value="nom planète"/>
		</div>
		<div>
			<label for="diameter">Diamètre en km</label>
			<input id="diameter" type="text" name="diameter" th:value="${details.diameter}" value="000000"/>
		</div>
		<div>
			<label for="mainCompo">Principal élément</label>
			<input id="mainCompo" type="text" name="mainCompo" th:value="${details.mainCompo}" value="élément principal"/>
		</div>
		<div>
			<input type="submit" value="sauvegarder"/>
		</div>
	</form>
</body>
</html>