<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" >
<html>
<head>
<meta charset="UTF-8">
<title>Mes planètes</title>
</head>
<body>
	<ul>
		<li><a href="/formation-spring-webshop/planetes">planetes</a></li>
		<li><a href="/formation-spring-webshop/detailsPlanetes/1">planetesDetails (1 par défaut)</a></li>
		<li><a href="/formation-spring-webshop/planetesForm">planetesForm</a></li>
	</ul>
	
	
<h1>Mes planetes</h1>

	<ul>
		<li th:each="planete:${maListePlanete}" 
		><a href="planetes.html" 
		th:href="@{'/detailsPlanetes/' + ${planete.id}}"
		th:text="${planete.name}"
		>no planet name</a></li>
		<!--Le th:href qui casse tout, je n'arrive pas a faire la suite-->
		<!--th:href="@{/planetes/(id=${planetTemp.id})}"-->
	</ul>
</body>
</html>