<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

  <head>
    <title>Formulaire des planètes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
	  <ul>
		<li><a href="/formation-spring-webshop/planetes">planetes</a></li>
		<li><a href="/formation-spring-webshop/detailsPlanetes">planetesDetails (1 par défaut)</a></li>
		<li><a href="/formation-spring-webshop/planetesForm">planetesForm</a></li>
	</ul>
	  
    <h1>Sauvegarde planete</h1>
    <div>
        <form action="./planetesForm" method="POST">
        <div>
            <label for="name">Nom : </label>
            <input id="name" type="text" name="name" value="name" th:value="${newPlanete.name}" />
        </div>
        <div>
            <label for="id">id : </label>
            <input id="id" type="text" name="id" value="id" th:value="${newPlanete.id}" />
        </div>
        <div>
            <label for="diametre">Diamètre (en km): </label>
            <input id="diametre" type="text" name="diametre" value="Diametre" th:value="${newPlanete.diametre}" />
        </div>
        <div>
            <input type="submit" value="sauvegarder" />
        </div>
    </form>
    </div>
  </body>
</html>