<head>
	<title>Détails de la planette </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Planete détails </h1>
	<div th:if="${planete}">
		<div> Id : </div>
		<div th:text="${planete.id}"> </div>
		<div> Name : </div>
		<div th:text="${planete.name}"> </div>
		<div> Weight in (Earth) : </div>
		<div th:text="${planete.weight}"> </div>
		<div> Distance from Earth (millions km): </div>
		<div th:text="${planete.distanceFromEarth}"> </div>
	</div>
	<div th:if="!${planete}">
		There is no planet for this index !!
	</div>

</body>

</html>