<head>
	<title>Détails de la planete </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Planete détails </h1>
	<div th:if="${planete}">
		<div> Id : </div>
		<div th:text="${planete.id}"> </div>
		<div> Name : </div>
		<div th:text="${planete.name}"> </div>
		<div> Weight in (Earth) : </div>
		<div th:text="${planete.weight}"> </div>
		<div> Distance from Earth (millions km): </div>
		<div th:text="${planete.distanceFromEarth}"> </div>
	</div>
	<div th:if="!${planete}">
		There is no planet for this index !!
	</div>


	<h2> Formulaire de modificaton</h2>
	<form method="post" action="planete" th:action="@{/planete}" th:object="${planete}">

		<div th:if="${planete}">
			<label for="id"> Id : </label>
			<input type="text" id="id" name="id" th:value="${planete.id}" />
			<br>
			<label for="name"> Name : </label>
			<input id="name" name="name" type="text" th:value="${planete.name}" />
			<br>
			<label for="weight"> Weight in (Earth) : </label>
			<input id="weight" name="weight" type="number" step="0.01" th:value="${planete.weight}" />
			<br>
			<label for="distanceFromEarth"> Distance from Earth (millions km): </label>
			<input id="distanceFromEarth	" name="distanceFromEarth" type="number" step="0.01"
				th:value="${planete.distanceFromEarth}" />
			<input type="submit" value="Save" />
		</div>
		<ul th:if="${#fields.hasErrors('*')}">
			<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Erreur</li>
		</ul>
	</form>


	<div th:if="!${planete}">
		There is no planet for this index !!
	</div>

	<br />
	<a href="./../indexPlanete" th:href="@{/indexPlanete}">retour à l'index des planètes</a>
</body>

</html>