<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!-- ATTENTION vérifier qu'on a la bonne configuration on reprend le nom du package contenant le fichier de SpringConfig  -->
	<!-- Lien ci dessous pour exo de base découverte MVC -->
	<!-- <context:component-scan  base-package="fr.maboite.webshop.spring.real.configuration" /> -->
	
	<!-- Pour TP Planète -->
	<context:component-scan  base-package="tp.planete.configuration" /> 
	
		
</beans>